
.p-content {
	width: 240px;
	height: 285px;
}

.p-toko {
	margin-left: 5px;
	width: 250px;
	height: 260px;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	background: #FFFFFF;
	border: 1px solid white;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.p-toko:hover {
	border: 1px solid #3e8e41;
}

.p-anh img {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	margin-left: 10px;
	height: 176px;
	width: 120px;
	transition: 0.3s;
}

.p-anh img:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.p-sp {
	text-align: center;
	background-color: #ddd;
	border-radius: 30px;
	position: absolute;
	font-size: 13px;
	width: 90px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 20px;
	margin-left: 25px;
	text-transform: uppercase;
}

.p-sp a {
	color: #fff;
	text-decoration: none !important;
	color: white !important;
}

.p-sp:hover {
	background-color: #3e8e41;
	color: white;
}

.p-book {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.p-book a {
	font-size: 16px;
}

.p-book p {
	font-size: 13px;
	line-height: 18px;
	color: #3a4752;
	margin-top: 9px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
}

.p-book h3:hover {
	color: #1ba085;
	text-decoration: underline;
}

.p-book h3 {
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	color: #3a4752;
	margin-bottom: 3px;
	margin-top: 9px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	cursor: pointer;
}

.p-text {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.p-content-2 {
	height: auto;
}

.p-toko-2 {
	width: 159px;
	height: 318px;
	line-height: 1.5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #f2f2f2;
	background: #f2f2f2;
	margin-top: 5px;
	margin-left: 25px;
	margin-bottom: 10px;
}

.p-title-2{
	margin-top: 20px;
}

.p-text-2{
	margin-top: 20px;
}

.p-toko-2:hover {
	border: 1px solid #3e8e41;
}

.p-anh-2 img{
	width: 154px;
	height: 220px;
}

.p-anh-2 a {
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	color: #3a4752;
	margin-bottom: 3px;
	margin-top: -10px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	cursor: pointer;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

.p-anh-2 a:hover {
	color: #1ba085;
	text-decoration: underline;
}

.p-text-2 a {
	font-size: 13px;
}

/*------------------------------------------------------------------------------------------------*/ 
.p-content-3 {
	width: 100%;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.p-toko-3 {
	display: flex;
	background-color: #FFFFFF;
	height: 700px;
	margin: 0 auto;
}

.p-left {
	margin-top: 15px;
	height: auto;
	background-color: #FFFFFF;
	width: 800px;
	padding-right: 15px;
	padding-left: 15px;
	display: flex;
}

.p-anh-3 {
	width: 320px;
}

.p-anh-3 img{
	width: 340px;
	height: 497px;
}

.p-book-text {
	padding-left: 45px;
	font-size: 13px;
}

.p-book-text h1 {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 3px;
}

.p-book-text a {
	text-decoration: none;
	color: #888;
}

.p-book-line a:hover {
	color: #FF0000
}

.p-book-line span {
	line-height: 25px;
}

.p-tag {
	display: inline;
	font-size: 13px;
	line-height: 25px;
}

.p-tag a {
	text-decoration: none;
	color: #888;
}

.p-tag a:hover {
	color: #FF0000;
}

.p-green {
	color: #008000;
	cursor: pointer;
}

.p-green:hover {
	color: #FF0000;
}

.p-ds {
	text-align: center;
	background-color: #008000;
	border-radius: 30px;
	position: absolute;
	font-size: 13px;
	width: 110px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 20px;
	text-transform: uppercase;
}

.p-ds a {
	color: white;
	text-decoration: none;
}

.p-ds:hover {
	background-color: #FF0000;
	color: #000000;
}

.p-ms {
	text-align: center;
	background-color: #008000;
	border-radius: 30px;
	position: absolute;
	font-size: 13px;
	width: 90px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 20px;
	margin-left: 125px;
	text-transform: uppercase;
}

.p-ms a {
	color: white;
	text-decoration: none;
}

.p-ms:hover {
	background-color: #FF0000;
}

.p-ct {
	margin-left: 40px;
	margin-top: 85px;
	margin-bottom: 20px;
}

.p-ct p {
	margin-left: 33px;
	font-size: 13px;
	line-height: 18px;
	text-align: justify!important;
	margin-left: -38px;
}

/*-----------------------right-----------------------*/ 
.p-right {
	display: flex;
}

.p-anh-4 {
	width: 320px;
	padding-left: 35px;
	margin-right: -28px;
}