
body{
    margin: 0;
    position: relative;
    background-color: #F9FAFB !important;
}

header{
    width: 100%;
    height: 100px;
    box-shadow: 0 1px 10px #c9c9c9;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
}

.bgColor{
    margin-top: 90px;
}

.main{
    margin-top: 10px;
}


.main .content{
    /* background-color: red; */
    height: auto;
    width: 100%;
}

.main .content2{
    height: 100px;
    width: 100%;
    background-color: black;
}

footer{
    width: 100%;
    height: 300px;
    background-color: green;
    margin-top: 30px;
}


.adv{
    margin-left: 10px;
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 5px;
}

.adv h3{
    font-size: 20px;
    margin-left: 10px;
}